@model IEnumerable<_2entregaProjetoFinal.Models.CadastrarUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NessecidadeEspecial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NessecidadeEspecial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
